In [1]:
import xlrd
import pandas as pd

In [2]:
file_path ="../Stock_dataset/Magic.xlsx"
pd.read_excel(file_path, sheet_name='PER')

          회사명      PER
0          3S   -11.87
1      AJ네트웍스    25.15
2       AJ렌터카    24.85
3       AK홀딩스    11.49
4      APS홀딩스     0.23
5       AP시스템    14.63
6        AP위성    21.65
7         BGF     2.18
8     BNK금융지주     6.48
9         BYC    13.72
10    C&S자산관리    -0.65
11         CJ    12.23
12     CJ CGV  2304.04
13     CJ E&M     7.77
14     CJ대한통운    69.15
15      CJ씨푸드    24.83
16      CJ오쇼핑    55.15
17     CJ제일제당    13.44
18    CJ프레시웨이   -36.40
19       CJ헬로   -77.13
20      CMG제약   278.60
21        CNH    27.07
22         CS    18.66
23    CSA 코스믹   -11.72
24      CS홀딩스    13.65
25         DB   -66.41
26     DB금융투자    11.47
27      DB라이텍    71.57
28     DB손해보험     7.81
29      DB하이텍     8.16
...       ...      ...
1975       화진    18.64
1976     화천기계    53.01
1977     화천기공    10.94
1978     환인제약    20.59
1979    황금에스티     7.21
1980       효성     9.98
1981    효성ITX    21.93
1982    효성오앤비    13.66
1983       후성    14.98
1984    휘닉스소재   -19.10
1985    휠라코리아     2.60
1986      휴니드    12.70
1987     휴마시스   -29.98
1988      휴맥스   -80.19
1989   휴맥스홀딩스    -8.67
1990     휴메딕스    38.05
1991      휴비스    28.53
1992      휴비츠    18.32
1993      휴스틸     6.44
1994      휴온스    24.17
1995   휴온스글로벌    34.31
1996       휴젤    36.80
1997      휴켐스     9.78
1998     흥구석유    22.15
1999       흥국     8.61
2000   흥국에프엔비    23.20
2001     흥국화재     5.93
2002     흥아해운    -4.87
2003       희림    20.66
2004       힘스     6.63

[2005 rows x 2 columns]

In [3]:
# index 빼고 불러오기
per_data = pd.read_excel(file_path, sheet_name='PER', index_col=0)

In [4]:
filtered_per = per_data[per_data['PER'] > 0]
sorted_per = filtered_per.sort_values(by='PER')
sorted_per['PER랭킹'] = sorted_per['PER'].rank()
display(sorted_per[:5])

          PER  PER랭킹
회사명
APS홀딩스   0.23    1.0
STX중공업   0.37    2.0
제일파마홀딩스  0.39    3.0
이녹스      0.75    4.0
유비쿼스홀딩스  1.04    5.0

In [5]:
# roa 값 읽고 NaN(Not a number) 값 제거
roa_data = pd.read_excel(file_path, sheet_name='ROA', index_col=0)
filtered_roa = roa_data.dropna()
filtered_roa.columns = ['ROA'] # Column 명 변경
display(filtered_roa[:5])

          ROA
회사명
AJ네트웍스   3.43
AJ렌터카    3.39
AK홀딩스   11.36
AP시스템   11.92
AP위성    -4.76

In [6]:
sorted_roa = filtered_roa.sort_values(by='ROA', ascending=False)
sorted_roa['ROA랭킹'] = sorted_roa.rank(ascending=False)
print(sorted_roa[:5])

            ROA  ROA랭킹
회사명
넥스턴       56.25    1.0
삼화네트웍스    50.18    2.0
오가닉티코스메틱  44.06    3.0
티웨이홀딩스    36.19    4.0
마이크로프랜드   34.58    5.0

In [7]:
# 두 df를 합친다.
# 두 df의 인덱스는 회사명으로 되어있다.
# 인덱스를 기준으로(left_index ,right_index=True) NaN값이 없는 데이터만(inner) 합친다(merge)

print(sorted_roa[0:1])
print(sorted_per[0:1])
total_df = pd.merge(sorted_per, sorted_roa, how='inner', left_index=True, right_index=True)
display(total_df[:5])

       ROA  ROA랭킹
회사명
넥스턴  56.25    1.0
         PER  PER랭킹
회사명
APS홀딩스  0.23    1.0

          PER  PER랭킹    ROA   ROA랭킹
회사명
AJ네트웍스  25.15  905.0   3.43   895.0
AJ렌터카   24.85  893.0   3.39   901.5
AK홀딩스   11.49  413.0  11.36   223.0
AP시스템   14.63  582.0  11.92   194.0
AP위성    21.65  818.0  -4.76  1676.0

In [8]:
total_df['종합랭크'] = (total_df['PER랭킹'] + total_df['ROA랭킹']).rank()
display(total_df[:5])

          PER  PER랭킹    ROA   ROA랭킹    종합랭크
회사명
AJ네트웍스  25.15  905.0   3.43   895.0   872.0
AJ렌터카   24.85  893.0   3.39   901.5   867.0
AK홀딩스   11.49  413.0  11.36   223.0   140.5
AP시스템   14.63  582.0  11.92   194.0   221.0
AP위성    21.65  818.0  -4.76  1676.0  1144.0

In [9]:
total_df=total_df.sort_values(by='종합랭크')
display(total_df[:30])

           PER  PER랭킹    ROA  ROA랭킹  종합랭크
회사명
서한        3.22   22.0  23.65   25.0   1.0
골프존       4.19   38.0  24.77   21.0   2.0
동원개발      4.41   42.0  23.62   26.0   3.0
오가닉티코스메틱  5.11   66.5  44.06    3.0   4.0
모베이스      4.49   45.0  20.03   52.0   5.0
테라세미콘     6.07  104.0  31.98    7.0   6.0
제이스텍      3.88   32.0  17.05   85.5   7.0
삼목에스폼     4.98   58.0  18.98   64.0   8.0
영우디에스피    6.22  114.0  28.38   10.0   9.0
HB테크놀러지   6.45  123.5  30.60    9.0  10.0
로스웰       6.10  108.0  21.99   33.0  11.0
한국자산신탁    6.58  133.0  22.09   31.0  12.0
크리스탈신소재   5.67   88.0  17.60   77.5  13.0
롯데케미칼     5.93   99.5  18.19   70.0  14.0
한국토지신탁    5.24   73.0  15.81  101.0  15.0
서호전기      6.26  116.0  18.59   66.0  16.0
대원산업      3.84   30.0  13.46  158.0  17.0
아이에스동서    5.07   63.0  14.65  128.0  18.0
에스에이엠티    4.55   48.0  13.84  150.0  19.0
대양금속      4.48   44.0  13.31  163.0  20.0
차이나하오란    2.49   14.0  11.75  202.0  21.0
완리        4.86   53.0  13.26  165.0  22.0
DMS       5.82   95.5  14.34  135.0  23.0
삼호        2.93   18.5  11.46  215.5  24.0
삼양통상      5.01   61.0  12.34  184.0  25.5
슈피겐코리아    7.07  165.0  17.49   80.0  25.5
현대통신      7.14  169.5  17.29   82.0  27.0
화성산업      4.35   39.0  11.43  220.0  28.0
한창제지      3.24   23.0  10.94  241.0  29.0
넥센        4.61   49.0  11.46  215.5  30.0